.root {
    -fx-background-image: url("background.jpg");
}

.middle {
    -fx-pref-height: 300;
}

.text {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.textShoe {
   -fx-font-size: 24px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-stroke: black;
   -fx-stroke-width: 2;
}

.textRules {
   -fx-font-size: 14px;
   -fx-font-family: "Arial Black";
   -fx-fill:  #fffaf0;
   -fx-stroke-width: 1;
}

.textDialog {
   -fx-font-size: 14px;
   -fx-font-family: "Arial Black";
   -fx-fill:  darkslategray;
   -fx-stroke-width: 1;
}

.textTotal {
   -fx-font-family: "Arial Black";
   -fx-font-size: 30px;
   -fx-font-weight: bold;
   -fx-fill: #818181;
   -fx-stroke: black;
   -fx-stroke-width: 2;  
}

.textStatus {
   -fx-font-size: 44px;
   -fx-font-family: "Arial Black";
   -fx-font-weight: bold;
   -fx-stroke: black;
   -fx-stroke-width: 3;
}

.Spinner {
   -fx-min-width: 80;
   -fx-max-width: 80;
   -fx-font-size: 14px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
    -fx-text-fill: rgb(49, 89, 23);  
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 21px;
    /* -fx-min-width: Infinity; */
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.buttonBig {
    -fx-text-fill: rgb(49, 89, 23);  
    -fx-font-weight: bold;
    -fx-font: 32px "Arial Black";
    /*-fx-min-width: -Infinity;*/
}

.buttonAutoplay {
    -fx-font: 12px "Arial Black";
    -fx-max-width: 30;
    -fx-min-width: 30;
}

.bottom {
    -fx-alignment: center;
    -fx-spacing: 5;
    /*-fx-background-color: linear-gradient(#af6134, #bf32a0);    */
    -fx-padding: 5;
}

.strategyPane {
    -fx-font: bold 12px "System Regular" ;
    -fx-padding: 0 15 0 15;
}

.strategyLabel {
    -fx-font-weight: bold;    
    -fx-underline: false;
    -fx-background-color: #CCFF99;
    -fx-alignment: center;
    -fx-font: bold 13px "System Regular" ;
}

.strategyLabelNormal {
    -fx-min-width: 22;
    -fx-max-width: 22;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    
.strategyLabelPlayer {
    -fx-min-width: 58;
    -fx-max-width: 58;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    
.strategyLabelPlayerHead {
    -fx-min-width: 58;
    -fx-max-width: 58;
    -fx-min-height: 40;
    -fx-max-height: 40;
 }    
 
.strategyLabelDealerHead {
    -fx-min-width: 220;
    -fx-max-width: 220;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    

 .strategyLabelLegend {
    -fx-min-width: 198;
    -fx-max-width: 198;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    
 .strategyLabelLegend2 {
    -fx-min-width: 44;
    -fx-max-width: 44;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    
 .strategyLabelLegend3 {
    -fx-min-width: 66;
    -fx-max-width: 66;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    
 .strategyLabelLegend4 {
    -fx-min-width: 88;
    -fx-max-width: 88;
    -fx-min-height: 20;
    -fx-max-height: 20;
 }    

 
.strategyToolTip {
    -fx-font-weight: bold;    
    -fx-border-color: black;
    -fx-underline: false;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font: bold 16px "System Regular" ;
}


.menu {
   -fx-font: 16px "Arial Black";
}

.dialog-pane > * {
    -fx-background-color: lightsteelblue; 
 }

 .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: none;
}

.progress-bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, gray, lightgray);
    -fx-background-insets: 0, 1;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, dimgray , darkgray);
    -fx-background-insets: 0, 1, 1;
}
