.root {
    -fx-background-image: url("background.jpg");
}

.middle {
    -fx-pref-height: 200;
}

.text {
   -fx-font-size: 14px; /* 18 -> 14 fa */
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.textShoe {
   -fx-font-size: 24px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-stroke: black;
   -fx-stroke-width: 2;
}

.textRules {
   -fx-font-size: 11px; /* 14 -> 11 fa */
   -fx-font-family: "Arial Black";
   -fx-fill:  #fffaf0;
   -fx-stroke-width: 1;
}

.textDialog {
   -fx-font-size: 11px; /* 14 -> 11 fa */
   -fx-font-family: "Arial Black";
   -fx-fill:  darkslategray;
   -fx-stroke-width: 1;
}

.textTotal {
   -fx-font-family: "Arial Black";
   -fx-font-size: 24px; /* 40 -> 32 fa */
   -fx-font-weight: bold;
   -fx-fill: #818181;
   -fx-stroke: black;
   -fx-stroke-width: 2;
}

.textStatus {
   -fx-font-size: 44px;
   -fx-font-family: "Arial Black";
   -fx-font-weight: bold;
   -fx-stroke: black;
   -fx-stroke-width: 3;
}

.Spinner {
   -fx-min-width: 62; /* 80 -> 62 fa */
   -fx-max-width: 62; /* 80 -> 62 fa */
   -fx-font-size: 11px; /* 14 -> 11 fa */
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


.button {
    -fx-text-fill: rgb(49, 89, 23);  
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 18px; /* 18 -> 15 fa */
}

.buttonBig {
    -fx-text-fill: rgb(49, 89, 23);  
    -fx-font-weight: bold;
    -fx-font: 24px "Arial Black";
}

.buttonAutoplay {
    -fx-font: 12px "Arial Black";
    -fx-max-width: 30;
    -fx-min-width: 30;
}

.bottom {
    -fx-alignment: center;
    -fx-spacing: 3; /* 5 -> 3 fa */
    /*-fx-background-color: linear-gradient(#af6134, #bf32a0);    */
    -fx-padding: 3; /* 5 -> 3 fa */
}

.strategyPane {
    -fx-font: bold 9px "System Regular" ;
    -fx-padding: 0 10 0 10;
}

.strategyLabel {
    -fx-font-weight: bold;    
    -fx-border-color: black;
    -fx-underline: false;
    -fx-background-color: #CCFF99;
    -fx-alignment: center;
    -fx-font: bold 9px "System Regular" ;
}
.strategyLabelNormal {
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    
.strategyLabelPlayer {
    -fx-min-width: 46;
    -fx-max-width: 46;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    
.strategyLabelPlayerHead {
    -fx-min-width: 46;
    -fx-max-width: 46;
    -fx-min-height: 32;
    -fx-max-height: 32;
 }    
 
.strategyLabelDealerHead {
    -fx-min-width: 160;
    -fx-max-width: 160;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    

 .strategyLabelLegend {
    -fx-min-width: 144;
    -fx-max-width: 144;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }
  .strategyLabelLegend2 {
    -fx-min-width: 32;
    -fx-max-width: 32;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    
 .strategyLabelLegend3 {
    -fx-min-width: 48;
    -fx-max-width: 48;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    
 .strategyLabelLegend4 {
    -fx-min-width: 64;
    -fx-max-width: 64;
    -fx-min-height: 16;
    -fx-max-height: 16;
 }    
 
.strategyToolTip {
    -fx-font-weight: bold;    
    -fx-border-color: black;
    -fx-underline: false;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font: bold 16px "System Regular" ;
}

.menu {
   -fx-font: 12px "Arial Black"; /* 16 -> 12 fa */
}

.dialog-pane > * {
    -fx-background-color: lightsteelblue; 
 }

 .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: none;
}


.progress-bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, gray, lightgray);
    -fx-background-insets: 0, 1;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, dimgray , darkgray);
    -fx-background-insets: 0, 1, 1;
}
